/*
	Media Object

* Place any image- and text-like content side-by-side, as per:
* http://csswizardry.com/2013/05/the-flag-object/
*
  * +---------+
  * |         | ~~~~ ~~~~~~~~~~~
  * |         | ~~~~~~~ ~~~~~ ~~
  * |         | ~~~~~~~~~~~~
  * +---------+
	*
	* Markup:
	<div class="media">
		<div class="media-img">
			<img src="http://placekitten.com/100/100">
		</div>
		<div class="media-body">
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	========================================================================== */

.media {
    display: table;
    margin-bottom: 15px;
    width: 100%;
}




.media-img,
.media-body {
    display: table-cell;
    vertical-align: middle;
    .media--top & {
        vertical-align: top;
    }
    .media--bottom & {
        vertical-align: bottom;
    }
    :last-child {
        margin-bottom: 0;
    }
}

.media-body {
    width: 100%;
}

.media-img {
    padding-right: 10px;
    width: 43px;
    > img {
        display: block;
        margin: 0 auto;
        max-width: none;
    }
    .media--rev & {
        padding-right: 0;
        padding-left: 10px;
    }
}