button.menu-link {
    display: block;
    float: right;
    margin-right: 2.5%;
    position: relative;
    padding: 1em;
    z-index: 999;
}
button.menu-link.active {
    position: fixed;
    right: 0;
}
div[role=mobile-navigation] {
    clear: both;
            transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
       -moz-transition: all 0.4s ease-out;
         -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}
.js div[role=mobile-navigation] {
    text-transform: uppercase;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    text-align: right;
    width: 0;
}
div[role=mobile-navigation].active {
    background: $brown;
    height: 100%;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 100;
}
div[role=mobile-navigation] ul {
    margin: 50px 0;
    padding: 0;
    max-width: 50%;
    float: right;
    list-style-type: none;
}
div[role=mobile-navigation] li button {
    display: block;
    padding: 0.8em;
}

div[role=mobile-navigation] li {
    white-space: nowrap;
}

/* styling the menu button ------------------------------------------------------------------ */
.cmn-toggle-switch {
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 53px;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding: 0;
            transition: background 0.3s;
    -webkit-transition: background 0.3s;
    text-indent: -9999px;
    width: 90px;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    @include respond-min($bp-wide) {
        display: none;
    }
}

.cmn-toggle-switch:focus {
    outline: none;
}

.cmn-toggle-switch span {
    background: #d8c57b;
    display: block;
    height: 2px;
    left: 68px;
    position: absolute;
    right: 0;
    top: 20px;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
    background-color: #d8c57b;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.cmn-toggle-switch span::before {
    top: -7px;
}

.cmn-toggle-switch span::after {
    bottom: -7px;
}
/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.cmn-toggle-switch__htx {
    background-color: transparent;
}

.cmn-toggle-switch__htx span {
            transition: background 0s 0.3s;
    -webkit-transition: background 0s 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
            transition-delay: 0.3s, 0s;
    -webkit-transition-delay: 0.3s, 0s;
            transition-duration: 0.3s, 0.3s;
    -webkit-transition-duration: 0.3s, 0.3s;
}

.cmn-toggle-switch__htx span::before {
            transition-property: top, transform;
    -webkit-transition-property: top, -webkit-transform;
}

.cmn-toggle-switch__htx span::after {
            transition-property: bottom, transform;
    -webkit-transition-property: bottom, -webkit-transform;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active {
    background-color: transparent;
}

.cmn-toggle-switch__htx.active span {
    background: none;
}

.cmn-toggle-switch__htx.active span::before {
    top: 0;
            transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
    bottom: 0;
            transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
            transition-delay: 0s, 0.3s;
    -webkit-transition-delay: 0s, 0.3s;
}

@include respond-min($bp-wide) {
    button.menu-link {
        display: none;
    }
    .js div[role=mobile-navigation] {
        display: none;
    }
    div[role=mobile-navigation] ul {
        display: none;
    }
    div[role=mobile-navigation]  li {
        display: none;
    }
    div[role=mobile-navigation] li a {
        display: none;
    }
}
