/**
 * Color palette
 */

// Generic colors
$blue                         : #288ad6;
$green                        : #16c98d;
$red                          : #fa5e5b;
$yellow                       : #feef6d;
$orange                       : #e67e22;
$pink                         : #ff708e;
$purple                       : #8e44ad;
$gray                         : #95a5a6;
$brown						  : #160911;
$brown-secondary			  : #27191f;
$beige						  : #d9c5a9;

// Color Scheme
$color-primary                : $green;
$color-secondary              : $yellow;
$color-highlight              : $red;

// Common colors
$color-text                   : $beige;
$color-bg                     : $brown;
$color-bg-secondary           : $brown-secondary;
$color-bg-tertiary			  : #efe8d8;
$color-border                 : #ddd;

// Text Selection
$color-selection              : $brown;
$color-selection-bg           : $color-text;


// Links
$color-link-default           : $color-text;
$color-link-visited           : $color-text;
$color-link-hover             : darken($color-text, 20%);
$color-link-active            : darken($color-text, 20%);


// <hr> border color
$hr-border                    : lighten(#000, 70%);
