/**
 * Global app/site styles
 */
body {
   background-color: $color-bg;
   -webkit-font-smoothing: antialiased !important;
}

/**
 * Default layout container
 */
.l-container,
.map-container {
   margin: 0 auto;
   max-width: #{$layout-max-width}px;
   padding-right: #{$layout-margin}px;
   padding-left: #{$layout-margin}px;
   width: 95%;
   .lt-ie9 & {
      min-width: #{$layout-min-width}px;
   }
}

.highlight {
   background: $brown-secondary;
}

.show {
	display: none;
}

.hide-for-desktop {
	display: none;
	@include respond-min($bp-wide){
		display: block;
	}
}

.show--large {
	@include respond-min($bp-wider){
		display: none;
	}
}

/* Map section style ------------------------------------------------------------------ */
.map {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 320px;

	@include respond-min($bp-narrow){
		height: 425px;
	}

	@include respond-min($bp-mid){
		height: 425px;
		vertical-align: middle;
		width: 100%;
	}

	@include respond-min($bp-wide){
		float: left;
		width: 513px;
	}
}

.map-copy {
	margin: 0 auto;
	padding: 20px 0 0;
	text-align: center;

	h2, 
	h3 {
		margin-bottom: 0.5rem;
	}

	@include respond-min($bp-narrow){
		margin-right: 15px;
	}

	@include respond-min($bp-mid){
		padding: 10px 0 0;
		p {
			margin-bottom: 0;
		}
	}

	@include respond-min($bp-wide){
		float: right;
		margin-right: 15%;
		padding: 30px 0 0;
	}
}

/* ice cream container style ------------------------------------------------------------------ */
.ice-cream--container {
	background-color: $color-bg-tertiary;
	color: #513628;
	padding: 20px;

	h2 {
		text-align: center;
	}

	ul {
		display: table;
		text-align: justify;
	}

	li {
		margin: 10px auto;
		width: 50%;
		text-align: center;

		@include respond-min($bp-narrow){
			margin-left: auto;
		    margin-right: auto;
		}

		@include respond-min($bp-mid){
			width: 33%;
		}

		@include respond-min($bp-wide){
			width: 16.5%;
			display: table-cell;
			text-align: center;
			margin-top: 0;
		}
	}

	figure figcaption {
		font-size: 1.2rem;
		letter-spacing: 1.5px;
		text-align: center;
		text-transform: uppercase;
	}
}

/* holly-fulton style ------------------------------------------------------------------ */
.holly-fulton {
	position: relative;
	margin-top: 30px;

	.holly-image {
		position: relative;
		vertical-align: bottom;
		margin: 0 auto;
		display: block;

		@include respond-min($bp-narrow){
			max-width: 70%;
			z-index: 1;
		}

		@include respond-min($bp-wide){
			margin: 0;
		}
	}

	&--copy {
		text-align: center;
		position: relative;
		z-index: 22;

		@include respond-min($bp-wide){
			position: absolute;
			width: 45%;
			margin-left: 50%;
			right: 0;
			padding: 5% 0 0;
		}
	}
}

.holly-fulton--copy {
	z-index: 22;
	p {
		z-index: 22;
	}
}

.terms .holly-fulton p, 
.terms .holly-fulton ol, 
.terms .holly-fulton li{
	text-align: left;
}

/* instagram section style ------------------------------------------------------------------ */
.instagram-container {
   padding: 30px 0;
   .one {
      padding-left: 10px;
      padding-right: 11px;
   }
   p {
   	position: relative;

	   img {
		position: relative;
		vertical-align: middle;
		height: 30px;

		@include respond-min($bp-mid){
			height: auto;
			vertical-align: top;
		}
	   }
   }

	&--copy {
	   vertical-align: middle;
	   @include respond-min($bp-mid){
		   float: left;
		   padding: 0 20px 0 0;
		   width: 50%;
		}
		@include respond-min($bp-wide){
		   padding: 0 80px;
		}
	}
}

.instagram-container .instagram--image {
	display: block;
	margin: 30px auto;
	padding: 0;

	@include respond-min($bp-mid){
		float: left;
		margin: auto;
		max-width: 50%;
		vertical-align: top;
	}
}

/* Magic scroller style ------------------------------------------------------------------ */

.step,
.media {
	opacity: 0;
	visibility: hidden;
	transform: matrix(1, 0, 0, 1, 0, -20);
}

/* debug style delete when done. ------------------------------------------------------------------- */
.ScrollSceneIndicators { z-index: 9999999 !important; }


