.footer {
    font-size: 0.8rem;
    margin: 15px 10px;
    
    .footer-links {
        text-align: right;
        a {
            display: block;
            width: 100%;

            @include respond-min($bp-narrow) {
                display: inline-block;
                line-height: 52px;
                width: auto;
            }
        }
    }

    @include respond-min($bp-mid){
        margin: 10px auto;
    }

    .social {
        max-width: 100%;
        text-align: center;

        a {
            display: inline-block;
            padding: 1%;
        }

        img {
            vertical-align: middle;
        }

        @include respond-min($bp-mid){
            width: 300px;
            text-align: left;
            float: left;
            vertical-align: middle;
        }
    }

    span.hide {
        display: none;

        @include respond-min($bp-narrow) {
            display: inline-block;
        }
    }
}
