.masthead {
	margin: 0 0 15px;
	position: relative;
	background-size: cover;

	@include respond-min($bp-narrow){
		// height: 510px;
	}

	@include respond-min($bp-mid){
		// width: 90%;
		margin: 0 auto;
		// margin-top: -115px;
	}
	
	@include respond-min($bp-wide){
		height: 740px;
		background: url('#{$img-path}/hero-background.png') no-repeat top center;
	}
}

.terms .masthead {
	background: none;
	// margin: 0 0 50px;
	@include respond-min($bp-mid){
		margin: 0 0 110px;
	}
	@include respond-min($bp-wide){
		height: auto;
	}
}

.navigation--container {
	width: 95%;
	margin: 0 auto;
	padding-top: 10px;
	position: relative;

	@include respond-min($bp-wide){
		margin: 0 auto;
		padding-top: 30px;
	}

	.navigation--link {
		position: absolute;
		z-index: 33;
	}
}

.terms .navigation--link {
	position: relative;
	z-index: 33;
}

.logo{
	display: block;
	width: 45%;

	@include respond-min($bp-mid){
		margin: 0;
		display: inline-block;
		width: auto;
	}
}

.terms .logo {
	display: block;
	width: 50%;

	@include respond-min($bp-mid){
		margin: 0;
		display: inline-block;
		width: auto;
	}
}

.navigation {
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	z-index: 22;
	top: 50px;

	@include respond-min($bp-mid){
		top: 0;
	}

	@include respond-min($bp-mid){
		top: 50px;
		width: 100%;
	}

	nav {
		display: none;
		@include respond-min($bp-wide){
			display: block;
			padding-top: 10px;
			text-align: right;
		}
	}


	.find-us {
		padding-left: 30px;
		right: 0;
		z-index: 22;

		@include respond-min($bp-mid){
			position: absolute;
		}

		@include respond-min($bp-wide){
			float: right;
			position: relative;
			padding: 0;

			img {
				max-width: 70%;
			}
		}
	}
}

.header {
		text-align: center;
		margin-top: 20px;
		padding: 0 10px;

	&--copy {
		position: relative;
		margin: 30px auto;

		h1 span {
			font-size: 1.6rem;
		}

		h3 {
			padding-bottom: 5px;
		}

		@include respond-min($bp-narrow){
			width: 80%;
			margin: 30px auto;

			h1 {
				font-size: 3rem;
			}
		}
		
		
		@include respond-min($bp-wide){	
			display: none;
			width: 50%;
			margin-left: 52%;
			padding: 60px 0 0;

			h1 {
				margin-bottom: 1rem;
			}
		}
	}

	.hero-icecream {
		margin-top: -100px;

		@include respond-min($bp-narrow){
			margin-top: -150px;
		}

		@include respond-min($bp-wide){
			display: none;
			position: absolute;
			top: 0;
			margin-top: 0;
			left: 28%;
		}
	}
}